<div class="container">
  <div class="select">
    <div class="select__header">
      <span class="select__current">{{ placeholder }}</span>
      <button class="select__icon">
        <fa-icon
          class="fa-arrow"
          [icon]="faCaretSquareDown"
          (click)="toggleOpen()"
        >
        </fa-icon>
      </button>
    </div>

    <div class="select__body" *ngIf="open">
      <div
        class="select__item"
        *ngFor="let option of options; let index = index"
        (click)="selectOption(option)"
      >
        <label [attr.for]="index">
          <input
            *ngIf="checkboxesShown"
            type="checkbox"
            class="checkbox"
            [attr.id]="index"
            (change)="selectOptions($event, option)"
            [disabled]="option.value === null || option.value === undefined"
          />
        </label>
        {{ option.title }}
      </div>
    </div>
  </div>

  <div class="select-result"><input value="{{ result }}" /></div>
</div>
