<div class="container">
  <div class="select">
    <div class="select__header">
      <span class="select__current">{{ placeholder }}</span>
      <button
        class="select__icon"
        (click)="toggleOpen()"
        [disabled]="!options.length"
      >
        <fa-icon class="fa-arrow" [icon]="faCaretSquareDown"></fa-icon>
      </button>
    </div>

    <div
      class="select__body"
      aria-labelledby="dropdownMenuButton"
      [ngClass]="isOpen ? 'active' : ''"
    >
      <div
        class="select__item"
        *ngFor="let option of options; let index = index"
        (click)="optionSelect(option)"
      >
        <label [attr.for]="index">
          <input
            *ngIf="checkboxesShown"
            type="checkbox"
            class="checkbox"
            [attr.id]="index"
            [checked]="option.isDisabled"
            (change)="optionsSelect(option)"
          />
        </label>
        {{ option.title }}
      </div>
    </div>
  </div>

  <div class="select-result"><input value="{{ result }}" /></div>
</div>

<!-- <input type="text" class="select__selected-item" /> -->

<!-- <div class="multiselect">
  <div class="selectbox" (click)="showCheckboxes()">
    <select>
      <option>Выбрать что-то</option>
    </select>

    <div class="over-select"></div>
  </div>

  <div class="checkboxes" *ngIf="checkboxesShown">
    <ng-container *ngFor="let option of options; let index = index">
      <label [attr.for]="index">
        <input
          type="checkbox"
          [attr.id]="index"
          [checked]="option.completed"
          (change)="checkOption(option)"
        />
        {{ option.title }}
      </label>
    </ng-container>
  </div>
</div> -->
