<fieldset [formGroup]="fullAutoNameControl">
  <app-custom-select [options]="brand" [multiselect]="multiselect" formControlName="brendAuto">
  </app-custom-select>
  <app-custom-select [options]="model" [multiselect]="multiselect" formControlName="modelAuto">
  </app-custom-select>
  <app-custom-select [options]="year" [multiselect]="multiselect" formControlName="yearAuto">
  </app-custom-select>
  <app-custom-select [options]="generation" [multiselect]="multiselect" formControlName="generationAuto">
  </app-custom-select>
</fieldset>